* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #f2f2f2;
}

/*NAVBAR*/
.my-navbar {
	background: linear-gradient(to right, black, grey);
  border-bottom: 3px solid indianred;
}



/*CATALOG*/

#carlist{
  /*background-color: grey;*/
  margin-top: 5%;
  margin-bottom: 10%;
}
.my-card{
  -webkit-box-shadow: 6px 21px 22px 0px rgba(0,0,0,0.61);
-moz-box-shadow: 6px 21px 22px 0px rgba(0,0,0,0.61);
box-shadow: 6px 21px 22px 0px rgba(0,0,0,0.61);
}

.bpartnerrow{
	background: linear-gradient(to right, black, grey);
	border-top: 3px solid indianred;
	border-bottom: 3px solid indianred;
}
.bpartner{
  padding: 0;
}

.bpartnercol1{
	padding-top: 5%;
}
.image {
	padding: 0;
}

.fav {
  background: linear-gradient(to right, black, grey);
  border-top: 3px solid indianred;
  border-bottom: 3px solid indianred;
  margin-bottom: 15%;
}
.favcol {
  padding-top: 5%;
}





/*SWIPER*/
.my-slider{
  padding: 0;
  margin-bottom: 5%;
}
#myswiper-container{
	padding-top: 5%;

}
.swiper-container {
  width: 100%;
  height: 65vh;
  padding-top: 10%;
  /*padding-bottom: 20px;*/
  background: #f2f2f2;
}

#myswiper {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 400px;
  background: #fff;
}

.swiper-slide .imgBx {
  width: 100%;
  overflow: hidden;
}

.swiper-slide .imgBx img {
  width: 100%;
}

.details {

  /*background-color: grey;*/
  padding-top: 0;
  padding-left: 3px;
  padding-right: 3px;
  /*height: 100%;*/
}

.swiper-slide .details p{
  margin: 0;
  padding-top: 5%;
  padding-bottom: 10%;
  font-size: 20px;
  text-align: center;
  line-height: 20px;
}

/*FOOTER*/
.my-footer{
  background: linear-gradient(to right, black, gray);
  color: white;
  /*position: fixed;*/
  left: 0;
  bottom: 0;
  width: 100%;
}

/*PARTNER ADD CAR PAGE*/
.partneradd {
  margin-bottom: 10%;
}